<div class="h-60 w-60 flex justify-center items-center flex-col">
    <img src="no-way.gif" alt="Gato estelar" />
      <div
        class="text-xl mr-4 font-medium leading-none text-center text-white rounded-full animate-pulse"
      >
        cargando...
      </div>
    </div>
  </div>